{
  "printWidth": 120,
  "singleQuote": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "@xeonlink/prettier-plugin-organize-attributes"
  ],
  "importOrder": [
    "<TYPES>",
    "<TYPES>^@tanstack.+",
    "<TYPES>^@vitejs.+",
    "<TYPES>^@eslint.+",
    "<TYPES>^@tailwindcss.+",
    "",
    "<TYPES>^@.+",
    "<TYPES>^[.]",
    "",
    "<BUILTIN_MODULES>",
    "^react$",
    "^@tanstack.+",
    "^@vitejs.+",
    "^@eslint.+",
    "^@tailwindcss.+",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@.+",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.9.3",
  "importOrderCaseSensitive": true,
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["tw"],
  "attributeGroups": [
    "$ID",
    "$NAME",
    "$TYPE",
    "$FOR",
    "$TITLE",
    "$VALUE",
    "$ROLE",
    "$ALT",
    "$ARIA",
    "$DEFAULT",
    "$SRC",
    "$HREF",
    "$DATA",
    "^style$",
    "$CLASS"
  ],
  "attributeSort": "ASC",
  "attributeIgnoreCase": false
}
